

body{
    background-color: pink !important;
    font-family: 'Raleway', sans-serif ;
    font-family: 'Raleway', sans-serif !important;
    font-size: 50px;
    font-weight: bolder !important;
    
}


nav{
    background-color: rgb(74, 103, 146);
    border: rgba(0, 0, 0, 0.39) 5px solid;
    padding: 2%;
    font-size: 150%;
    border-color:rgba(240, 240, 38, 0.719);
    border-style: double;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.582) 5px 5px 5px 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-size: 50px;
    font-weight: bold;
}

a:hover{
    border: solid #ffc0cb88!important;
    color: black !important;
    padding: 5px;
    border-radius: 5px;
}

.row{
   
}



.croixM{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 30px;
}

.croix{
    color: black;
    
}


.majeures{
    margin-top: 3%;
    text-align: center;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif !important;
    font-size: 40px;
    font-weight: bold;
}

.row{
    margin-top: 3%;
    
}

.card-title{
font-weight: bolder;
font-size: 20px;
}

.card{
   box-shadow: rgba(0, 0, 0, 0.699) 1px 10px 10px 10px !important;
}

.tigreEtat{
    text-align: center;
   font-size: 20px !important;
   text-decoration: underline black 1px !important;
   
   

}

.descEtat{
    
    text-align: center;
}

hr{

border-top:black solid 1px !important}

li{
    text-align: center;
}

img:hover{

    transform: scale(1.1);
    transition: transform .5s;
    border: solid black 10px;

}
